<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/laser.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      table {
        margin-top: 15px;
      }
    </style>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="page-header">
            <h1>LASER <small>Large Scale Article Recommender</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
	<strong>LASER</strong> entstand im Rahmen der Veranstaltung <strong>Programming Intelligent Applications</strong> des Studiengangs <strong>Computer Science and Media Master</strong> an der <strong>Hochschule der Medien Stuttgart</strong>.<br /><br />
	
	<h3>Betreuer</h3>
	<ul>
		<li>Prof. Dr. Johannes Maucher</li>
	</ul>
	<h3>Teilnehmer</h3> 
        <ul>       
                <li>Dominik H&uuml;bner: contact@dhuebner.com</li>
		<li>Sven Pfleiderer: sven@rootausen.de</li>
		<li>Thomas Maier: thomas@thomas-maier.net</li>
        </ul>        
	</div>
      </div>
    </div>	
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/laser.js"></script>
  </body>
</html>
